/* Estilos do Header */
*{
    margin: 0;
}
body {
    overflow-x: hidden;
    color: #ffff;
}
.lateral{
    display: flex;
}
.navigation {
    display: flex;
    background-color: var(--cor1);
    height: 12vh;
    width: 100%;
    user-select: none;
    align-items: center;
    justify-content: center;
}
.logo {
    display: flex;
    margin-left: 1vw;
}

.typography {
    display: flex;
    white-space: nowrap;
    width: fit-content;
    margin-left: 1vw;
    color: var(--cor5);
    font-family: "Press Start 2P", system-ui;
    justify-content: left;
    font-size: 4vh;
}

.login {
    width: fit-content;
    justify-content: right;
    position: relative;
    left: 30vw;
}
.login [type="button"] {
    outline: .4vb solid;
    outline-color: var(--cor3);
    outline-offset: -.4vb;
    border-radius: 1vw;
    padding: 1vh 3vw;
    margin-right: 1vw;
    color: var(--cor3);
    text-decoration: none;
    align-content: center;
    font-weight: bold;
    font-family: Verdana;
    font-size: 4vh;
    transition: color 0.2s ease, background-color 0.2s ease;
}
.login [type="button"]:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}
.login [type="button"]:active {
    background-color: var(--cor4);
    outline-color: var(--cor4);
}

.menu{
    width: 20vw;
    height: 100vh;
    background: #962948;
}
/*conteudo-1*/
.todos-conteudos{
    display: grid;
    width: 100vw;
    height: 100vh;
    background:#0B2345;
    align-items: center;
    justify-content: center;
}
.Conteudo-1-Games{
    display: grid;
    width: 60vw;
    height: 60vh;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.carrocel{
    background-color: #001635;
    width: 55vw;
    height: 55vh;
    display: flex;
    
}

.carrocel img{
    width: 35vw;
    height: 55vh;
}

.mini-button{
    display: flex;
    margin-top: 5dvh;
}

.mini-button button{
    width: 3vw;
    height: 3vh;
    background: rgba(150, 41, 72, 0.52);
    border-radius: 5px;
    margin-left: 0.5vw;
}
