[id = "lobby"] {
    display: flex;
    flex-direction: column;
    background-color: var(--cor1);
}

/* Conteudo */

.conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.conteudo-1 {
    user-select: none;
    display: flex;
    width: 100%;
    height: 70vh;
    align-content: center;
    justify-content: center;
    background-color: var(--cor1-1);
    color: var(--cor5);
}
.conteudo-2 {
    user-select: none;
    display: flex;
    width: 100%;
    height: 100vh;
    background-color: var(--cor5);
}
.conteudo-3 {
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 110vh;
    background-color: var(--cor1-1);
    color: var(--cor5);
}

/* Conteudo 1 */

.Nav-links {
    display: flex;
    width: 100vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
}
.linkBox {
    display: flex;
    height: 40vh;
    width: 100%;
    justify-content: space-evenly;
    margin-left: 6vh;
}
.linkBox [type="Down"] {
    margin-top: 6vh;
}
.linkBox a {
    display: flex;
    width: 20vh;
    height: 28vh;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 1vb;
    text-decoration: none;
    outline: solid;
    outline-width: 0vh;
    outline-offset: -.1vh;
    outline-color: var(--cor3);
    transition: outline-width 0.1s ease-in-out;
}
.linkBox a[id="Discord"] {
    height: 18vh;
}
.linkBox a[id="Discord"]:hover {
    height: 25vh;
}
.linkBox .Discord {
    background-color: #7289da;
    outline-color: #7289da;
}

.linkBox a:hover {
    outline-width: 1vh;
}
.linkBox a:active {
    outline-width: 0vh;
}
.linkBox a img {
    height: 15vh;
    transition: height 0.3s ease-in-out;
}

.linkBox a:hover img {
    height: 20vh; 
}

.linkBox a p {
    margin-top: 2vh;
    font-family: "Press Start 2P", system-ui;
    font-weight: bold;
    font-size: .7vw;
    color: var(--cor5);
}

.Apresentacao   {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
}

.Apresentacao h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 3vw;
    margin-top: 10vh;
    width: 50vw;
    height: 10vh;
    color: var(--cor5);
    align-content: center;
    text-align: center;
}
.Apresentacao [id = "WIKI"] {
    width: 50vw;
    height: 10vh;
    color: var(--cor3);

}
.Apresentacao p {
    margin-top: 5vh;
    line-height: 6vh;
    font-family: Verdana;
    font-weight: bold;
    text-align: justify;
    text-align-last: center;
    font-size: 2.9vh;
    width: 40vw;
    height: 50vh;
    color: var(--cor5);
}




/* Conteudo 2 */



.Imagens-games-tutoriais {
    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
}
.Quadro-tutoriais {
    margin-top: 5vh;
    width: 30vw;
    height: 40vh;
    outline: solid;
    outline-color: var(--cor1-1);
    outline-width: .5vh;
    outline-offset: .5vh;
    border-radius: 5vh;
    
}

.Quadro-layer-1 {
    margin-top: 4vh;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.Quadro-layer-2 {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
}
.Quadro-layer-3 {
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 6vh;
}

.Quadro-tutoriais [id = "1"] {
    height: 12vh;
}
.Quadro-tutoriais [id = "2"] {
    height: 12vh;
}
.Quadro-tutoriais [id = "3"] {
    height: 12vh;
}
.Quadro-tutoriais [id = "4"] {
    height: 13vh;
}
.Quadro-tutoriais [id = "5"] {
    height: 10vh;
}
.Quadro-tutoriais [id = "6"] {
    height: 9vh;
}
.Quadro-tutoriais [id = "7"] {
    height: 12vh;
}

.Conteudo-2-Tutoriais-texto {
    display: flex;
    margin-top: 5vh;
    flex-direction: column;
    width: 50vw;
    height: 60vh;
    align-items: center;
    color: var(--cor1-1);
}
.Conteudo-2-Tutoriais-texto h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 3.5vw;
    line-height: 10vh;
    text-align: center;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.Conteudo-2-Tutoriais-texto p {
    line-height: 5vh;
    font-size: 1.4vw;
    font-family: Verdana;
    font-weight: bold;
    text-align: justify;
    text-align-last: center;
    width: 40vw;
}
.Conteudo-2-MaisPopulares {

    display: flex;
    flex-direction: column;
    width: 50vw;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.Conteudo-2-MaisPopulares h1 {
    line-height: 10vh;
    margin-right: 8vw;
    display: flex;
    text-align: center;
    justify-content:center;
    align-items:center;
    font-family: "Press Start 2P", system-ui;
    font-size: 4vw;
    color: var(--cor1-1);
    width: 50vw;
    height: 20vh;
}
.Conteudo-2-MaisPopulares iframe {
    margin-right: 8vw;
    display: flex;
    justify-content:center;
    align-items:center;
    border-radius: 1vb 6vb;
    align-content: center;
    outline: solid;
    outline-color: var(--cor1-1);
    outline-width: .5vh;
    width: 45vw;
    height: 50vh;
    transition: outline-width 0.1s ease-in-out;
}
.Conteudo-2-MaisPopulares iframe:hover {
    outline-width: 1vh;
}

/* Conteudo 3 */

.Titulo-Lançamentos {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 20vh;
    justify-content: space-evenly;
    align-items: center;
}

.Titulo-Lançamentos h1 {
    font-family: "Press Start 2P", system-ui;
    font-size: 4vw;
    color: var(--cor3);

}

.Imagens-Lançamentos {
    display: flex;
    width: 90vw;
    height: 40vh;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid;
    border-color: var(--cor3);
    padding-bottom: 4vh;
    border-width: 1vh;
}

.Imagens-Lançamentos img {
    height: 36vh;
    outline: solid;
    outline-color: var(--cor5);
    outline-width: .5vh;
    transition: outline-width 0.1s ease-in-out, outline-offset 0.1s ease-in-out;
    border-radius: 1vb;
}
.Imagens-Lançamentos img:hover {
    outline-width: 1vh;
    cursor: pointer;
}
.Imagens-Lançamentos img:active {
    outline-width: 2vh;
    outline-offset: -1vh;
}

.Texto-Lançamentos {
    display: flex;
    width: 80vw;
    height: 30vh;
    justify-content: space-evenly;
}

.Texto-Lançamentos p {
    margin-top: 3vh;
    line-height: 7vh;
    font-family: Verdana;
    font-weight: bold;
    font-size: 1.8vw;
    text-align: justify;
    text-align-last: center;
    color: var(--cor5);
}

.Acessar-Lançamentos {
    display: flex;
    width: 90vw;
    height: 20vh;
    justify-content: center;
    align-content: center;
}

.Acessar-Lançamentos a {
    height: 12vh;
    padding-left:4vw;
    padding-right: 4vw;
    color: var(--cor5);
    text-decoration: none;
    align-content: center;
    font-family: "Press Start 2P", system-ui;
    font-size: 4vh;
    background-color: var(--cor3);
    border-radius: 4vb;
    transition: outline-width 0.1s ease-in-out, outline-offset 0.1s ease-in-out;
}

.Acessar-Lançamentos a:hover {
    outline: 1vh solid;
    outline-offset: -1vh;
}

.Acessar-Lançamentos a:active {
    outline: 2vh solid;
}

/* fim do conteudo */








